---
import { siteConfig } from '../../config/site';

const { shop } = siteConfig;
---
<section class="section info" id="info">
  <div class="inner info-inner">
    <header class="section-title">
      <h2 class="title">基本情報</h2>
    </header>
    <dl class="info-list">
      {shop.address && (
        <>
          <dt class="info-label">住所</dt>
          <dd class="info-data">{shop.address}</dd>
        </>
      )}
      {shop.tel.display && (
        <>
          <dt class="info-label">電話</dt>
          <dd class="info-data">
            <a href={`tel:${shop.tel.link}`}>{shop.tel.display}</a>
          </dd>
        </>
      )}
      {shop.checkin   && (
        <>
          <dt class="info-label">チェックイン</dt>
          <dd class="info-data">{shop.checkin}</dd>
        </>
      )}
      {shop.checkout  && (
        <>
          <dt class="info-label">チェックアウト</dt>
          <dd class="info-data">{shop.checkout}</dd>
        </>
      )}
    </dl>
  </div>
</section>

<style lang="scss">
  @use "../../styles/variables" as *;
  @use "../../styles/mixins" as *;

  // ―――――――――――――――――――――――――――――――――――
  .section {

  }

  //―――――――――――――――――――――――――――――――――――――― ブレークポイント / タブレット
  @include tb {

  }

  //―――――――――――――――――――――――――――――――――――――― ブレークポイント / スマホ
  @include sp {

  }
</style>